* {
    margin: 0%;
    padding: 0%;  
}

#contenedor {
    min-height: 650px; 
    width: 100%;
    /* saco margenes ya que pide que el tamaño del contenedor sea el mismo que el de la tabla */
    background-color: gainsboro;
}

#tabla, td{
    height: 650px;
    width: 100%; /* Esto permite que se centre y siga centrado por más que se cambie la resolucion */
}

#tablaPrincipal {   
    margin: auto;
    text-align: center;
}

#tablaPrincipal, td {
    height: 20px;
    width: 20px;
}

#tdcelda1 {
    border: 1px solid black;
}

#tdcelda2 {
    border: 1px solid black;
}

#tdcelda3 {
    border: 1px solid black;
}

#tablaPrincipal, tr {
    height: 30px;
    width: 650px;  
}

#tr2TablaPrincipal {
    height: 60px;
}

#estiloBotones {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

#aceptar {
    background-color: rgb(241, 218, 174);
    border-radius: 20px; /* para que se parezca mas a la imagen */
    border-color: orange;
    width: 160px;
    color: rgba(100, 68, 26, 0.856);
    border-width: 1px;
    height: 35px;
    font-size: small;
}

#reiniciar {
    background-color: rgb(241, 218, 174);
    border-radius: 20px;
    border-color: orange;
    width: 160px;
    color: rgba(100, 68, 26, 0.856);
    border-width: 1px;
    height: 35px;
    font-size: small;
}

select {
    font-size: medium;
    width: 55%;
    vertical-align: 10%;
}